.DS_Store
pom.xml
pom.xml.asc
node_modules/
.shadow-cljs/

.cpcache/
/target/
/checkouts/
/src/gen/

*.iml
*.jar
*.log
*.class

.idea
.lein-*
.nrepl-*
.repl
.rebel_readline_history



/public/cljs/
/dist/






